{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="pb-3 h5">Все категории</div>

{% if not page_obj %}
<div class="col-12">В настоящее время активных продуктов нет.</div>
{% else %}

<table class="table table-striped-columns">

    <thead>
        <th scope="col">Название</th>
        <th scope="col">Производитель</th>
        <th scope="col">Гарантия (месяц)</th>
        <th scope="col">Цена (шт.)</th>
        <th scope="col">Количество</th>
        <th scope="col">Создан</th>
        <th scope="col">Обнавлен</th>
    </thead>

    {% for product in page_obj %}

    <tbody>
        <td>
            <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">
                {{ product.name }}
            </a>
        </td>
        <td>{{ product.manufacturer }}</td>
        <td>{{ product.warranty }}</td>
        <td>{{ product.price }}</td>
        <td>#</td>
        <td>{{ product.created_in }}</td>
        <td>{{ product.updated_in }}</td>
    </tbody>
  

    {% endfor %}

</table>

{% endif %}


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}