{% extends "base.html" %}
{% block title %}
{% if product %}{{ product.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<div class="container">

    <div class="row g-3">
        <div class="col-md-5 col-lg-5 order-md-first">

            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {% for image in product.image_product.all %}
            
                    {% if forloop.first %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{ image.image.desc_image }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>                
            </div>

        </div>

        <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

            <div class="card">
                <h5 class="card-header">Продукт: {{ product.product_type }} {{ product.manufacturer }} {{ product.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title">Описание</h5>
                    <p class="card-text">{{ product.description }}</p>

                    <h6 class="card-title">Гарантия</h6>
                    <p class="card-text">{{ product.warranty }} месяцев</p>

                    <h6 class="card-title">Производитель</h6>
                    <p class="card-text">{{ product.manufacturer }} (Страна: {{ product.manufacturer.country }}) </p>

                    {% if product.discount != NULL %}
                        <h6 class="card-title">Цена</h6>
                        <p class="card-tetx">
                            {{ product.price_discount }} / <s>{{ product.price }}</s> Скидка в {{ product.discount.amount }}%</br>
                            Причина скидки: {{ product.discount.reason }}
                        </p>
                    {% else %}
                        <h6 class="card-title">Цена</h6>
                        <p class="card-tetx">{{ product.price }}</p>
                    {% endif %}

                    <h6 class="card-title">Количество</h6>
                    <p class="card-tetx">{{ product.count }}</p>

                    {% if data_value %}
                        <h6 class="card-title">Характеристики</h6>

                        {% for i in data_value %}

                            <p class="card-text">{{ i.0 }}: {{ i.1 }}</p>

                        {% endfor %}

                    {% endif %}


                    <form method="post">
                        <h6 class="card-title">Измнение количества</h6>
                        {% csrf_token %}
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="submit">Отправить</button>
                            <input type="number" name="count_up" min="1" placeholder="Увеличить" class="form-control">
                            <input type="number" name="count_down" min="1" placeholder="Уменьшить" class="form-control">
                        </div>
                    </form>

                    <div class="d-grid gap-2 d-md-block pt-3">
                        <a class="btn btn-secondary" href="{% url 'store:update_product' product.id %}">Изменить Новый</a>
                        <a class="btn btn-danger" href="{% url 'store:delete_product' product.id %}">Удалить</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


{% endblock %}