{% extends "base.html" %}
{% block title %}
Количество 
{% endblock %}

{% block content %}

<div class="pb-3 h5">Количество и на какую сумму товара</div>

<div class="alert alert-info" role="alert">
    <div class="h5 pb-3">Количество товара: {{ total_count.count__sum }}</div>
    <div class="h5">На сумму: {{ total_price.0.0 }}</div>
</div>

<table class="table table-striped-columns">

    <thead>
        <th scope="col">Название</th>
        <th scope="col">Производитель</th>
        <th scope="col">Тип товара</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена (шт.)</th>
        <th scope="col">На сумму</th>
    </thead>

    {% for product in page_obj %}

    <tbody>
        <td>{{ product.0 }}</td>
        <td>{{ product.1 }}</td>
        <td>{{ product.2 }}</td>
        <td>{{ product.3 }}</td>
        <td>{{ product.4 }}</td>
        <td>{{ product.5 }}</td>
    </tbody>

    {% endfor %}

</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}